<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Class Helper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="#">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <style type="text/css">

    table {
      border: 3px solid black;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      width: auto;
      background-color: white;
      text-align: center;
      border-collapse: collapse;
      padding: 7.1px;
    }
    h1 {
      font-family: "Copperplate Gothic Light";
      font-size: 24px;
      font-style: normal;
      font-variant: normal;
      font-weight: 1250;
      line-height: 36.4px;
      color: white;
      text-align: center;
      /*text-transform: uppercase; */
    }
    h2 {
      font-family: "Copperplate Gothic Light";
      font-size: 24px;
      font-style: normal;
      font-variant: normal;
      font-weight: 1150;
      line-height: 24px;
      color: white;
      text-align: left;
      /*text-transform: uppercase; */
    }
    hr {
      display: block;
      height: 2px;
      border: 0;
      border-top: 2px solid #fff;
      margin: 1em 0;
      padding: 0;
      width: 25% auto;

    }
    .container {
      float: none;
      clear: left;
      display: block;
      background: #869375;
      padding: 30px;
      margin: 25px;
      white-space: nowrap;
      height: auto;
      width: auto;
    }
    .course-container {
      padding: 5px;
      float: left;
      clear: left;
      display: inline-block;
      background: #4b5143;
      white-space: nowrap;
      width: 100%;
      height: auto;
    }
    #add_course_button {
      padding: 5px;
      display: inline-block;
    }
    .form-container {
      align-content: center;
    }
    ul {
      font-family: "Copperplate Gothic Light";
      font-size: 20px;
      font-style: normal;
      font-variant: normal;
      font-weight: 1250;
      color: white;
      text-align: left;
    }
    .register {
      height: 50px;
      width: 200px;
    }
  </style>
</head>

<body bgcolor="#384130">

<div class="back">
{% load static %}
<a href="/CHproto/profile"><input type="image" src="{% static 'posts/back_button.png' %}" alt="Brings
the user to previous page" style="float: left" height="90" width="200"></a>
</div>

<div class="logout">
{% load static %}
<center><a><input type="image" src="{% static 'posts/logout.jpg' %}" alt=
  "Logs the user out" style="float: right" height="70" width=
  "160"></a></center>
</div>

<div class="home">
  {% load static %}
  <center><a href = "/CHproto/profile"><input type="image" src="{% static 'posts/home_button.png' %}"
    alt="Brings the user to the homepage" stlyle="float: right"
    height="100" width="120"/></a></center>
</div>

<div class="container">

<h1>Course attendance for {{ course.name }}</h1>

    <table>
      <tr>
        <th>Student</th>
        <th>Month 1 total</th>
        <th>Month 2 total</th>
        <th>Month 3 total</th>
        <th>Month 4 total</th>
        <th>Overall</th>
        <th></th>

      </tr>


      <tr>
    {% for student, totals in all_totals.items %}
        <td>{{ student.last_name }}, {{ student.first_name}}</td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/1/graphattendancebymonth"><input type="submit" value="{{ totals.0 }}" title="Graph by Month">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/2/graphattendancebymonth"><input type="submit" value="{{ totals.1 }}" title="Graph by Month">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/3/graphattendancebymonth"><input type="submit" value="{{ totals.2 }}" title="Graph by Month">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/4/graphattendancebymonth"><input type="submit" value="{{ totals.3 }}" title="Graph by Month">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/graphattendanceoverall"><input type="submit" value="{{ totals.4 }}" title="Graph by Semester">
        </td>


        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/addattendance"><input type="submit" value="ADD NEW ATTENDANCE"></input></a>
        </td>

        <!--
        <td><a href="/CHproto/{{student.id}}/{{course.id}}/editstudent/"><button class="editbtn">edit {{student.first_name}}</button></a></td>
        <td><a href="/CHproto/{{student.id}}/{{course.id}}/removefromroster"><button class="removebtn">remove {{student.first_name}}</button></a></td>
        -->

    </tr>
    {% endfor %}

    <tr>
        <td> 
          All
        </td>
        <td>
          {{ m_grand_total.0 }}
          <!--<a href="/CHproto/{{course.id}}/1/graphoverallmonth"><input type="submit" value="{{ m_grand_total.0 }}" title="Graph by Month">-->
        </td>
        <td>
          {{ m_grand_total.1 }}
          <!--<a href="/CHproto/{{course.id}}/2/graphoverallmonth"><input type="submit" value="{{ m_grand_total.1 }}" title="Graph by Month">-->
        </td>
        <td>
          {{ m_grand_total.2 }}
          <!--<a href="/CHproto/{{course.id}}/3/graphoverallmonth"><input type="submit" value="{{ m_grand_total.2 }}" title="Graph by Month">-->
        </td>
        <td>
          {{ m_grand_total.3 }}
          <!--<a href="/CHproto/{{course.id}}/4/graphoverallmonth"><input type="submit" value="{{ m_grand_total.3 }}" title="Graph by Month">-->
        </td>
        <td>
          {{ grand_total.0 }}
          <!--<a href="/CHproto/{{student.id}}/{{course.id}}/graphattendanceoverall"><input type="submit" value="{{ totals.4 }}" title="Graph by Semester">-->
        </td>
        <td></td>
    </tr>

    </table>

<br><br>

<ul>Month 1</ul>
        <table>
      <tr>
        <th>Student</th>
        <th>Week 1 total</th>
        <th>Week 2 total</th>
        <th>Week 3 total</th>
        <th>Week 4 total</th>
        <th></th>
      </tr>

      <tr>
    {% for student, totals in week_totals.items %}
        <td>{{ student.last_name }}, {{ student.first_name}}</td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/1/graphattendancebyweek"><input type="submit" value="{{ totals.0 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/2/graphattendancebyweek"><input type="submit" value="{{ totals.1 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/3/graphattendancebyweek"><input type="submit" value="{{ totals.2 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/4/graphattendancebyweek"><input type="submit" value="{{ totals.3 }}" title="Graph by Week">
        </td>

        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/addattendance"><input type="submit" value="ADD NEW ATTENDANCE"></input></a>
        </td>

            </tr>
    {% endfor %}

        <tr>
        <td> 
          All
        </td>
        <td>
          {{ w_grand_total.0 }}
        </td>
        <td>
          {{ w_grand_total.1 }}
        </td>
        <td>
          {{ w_grand_total.2 }}
        </td>
        <td>
          {{ w_grand_total.3 }}
        </td>
        <td></td>
    </tr>

    </table>
        

<br><br>

<ul>Month 2</ul>
        <table>
      <tr>
        <th>Student</th>
        <th>Week 5 total</th>
        <th>Week 6 total</th>
        <th>Week 7 total</th>
        <th>Week 8 total</th>
        <th></th>
      </tr>

      <tr>
    {% for student, totals in week_totals.items %}
        <td>{{ student.last_name }}, {{ student.first_name}}</td>
        
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/5/graphattendancebyweek"><input type="submit" value="{{ totals.4 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/6/graphattendancebyweek"><input type="submit" value="{{ totals.5 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/7/graphattendancebyweek"><input type="submit" value="{{ totals.6 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/8/graphattendancebyweek"><input type="submit" value="{{ totals.7 }}" title="Graph by Week">
        </td>

        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/addattendance"><input type="submit" value="ADD NEW ATTENDANCE"></input></a>
        </td>

            </tr>
    {% endfor %}
            <tr>
        <td> 
          All
        </td>
        <td>
          {{ w_grand_total.4 }}
        </td>
        <td>
          {{ w_grand_total.5 }}
        </td>
        <td>
          {{ w_grand_total.6 }}
        </td>
        <td>
          {{ w_grand_total.7 }}
        </td>
        <td></td>
    </tr>
  </table>

<br><br>


<ul>Month 3</ul>
        <table>
      <tr>
        <th>Student</th>
        <th>Week 9 total</th>
        <th>Week 10 total</th>
        <th>Week 11 total</th>
        <th>Week 12 total</th>
        <th></th>
      </tr>

      <tr>
    {% for student, totals in week_totals.items %}
        <td>{{ student.last_name }}, {{ student.first_name}}</td>

        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/9/graphattendancebyweek"><input type="submit" value="{{ totals.8 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/10/graphattendancebyweek"><input type="submit" value="{{ totals.9 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/11/graphattendancebyweek"><input type="submit" value="{{ totals.10 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/12/graphattendancebyweek"><input type="submit" value="{{ totals.11 }}" title="Graph by Week">
        </td>

        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/addattendance"><input type="submit" value="ADD NEW ATTENDANCE"></input></a>
        </td>

            </tr>
    {% endfor %}
    <tr>
        <td> 
          All
        </td>
        <td>
          {{ w_grand_total.8 }}
        </td>
        <td>
          {{ w_grand_total.9 }}
        </td>
        <td>
          {{ w_grand_total.10 }}
        </td>
        <td>
          {{ w_grand_total.11 }}
        </td>
        <td></td>
    </tr>
    </table>

<br><br>

<ul>Month 4</ul>
        <table>
      <tr>
        <th>Student</th>
        <th>Week 13 total</th>
        <th>Week 14 total</th>
        <th>Week 15 total</th>
        <th>Week 16 total</th>
        <th></th>
      </tr>

      <tr>
    {% for student, totals in week_totals.items %}
        <td>{{ student.last_name }}, {{ student.first_name}}</td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/13/graphattendancebyweek"><input type="submit" value="{{ totals.12 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/14/graphattendancebyweek"><input type="submit" value="{{ totals.13 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/15/graphattendancebyweek"><input type="submit" value="{{ totals.14 }}" title="Graph by Week">
        </td>
        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/16/graphattendancebyweek"><input type="submit" value="{{ totals.15 }}" title="Graph by Week">
        </td>

        <td>
          <a href="/CHproto/{{student.id}}/{{course.id}}/addattendance"><input type="submit" value="ADD NEW ATTENDANCE"></input></a>
        </td>

        <!--
        <td><a href="/CHproto/{{student.id}}/{{course.id}}/editstudent/"><button class="editbtn">edit {{student.first_name}}</button></a></td>
        <td><a href="/CHproto/{{student.id}}/{{course.id}}/removefromroster"><button class="removebtn">remove {{student.first_name}}</button></a></td>
        -->

        

    </tr>
    {% endfor %}
            <tr>
        <td> 
          All
        </td>
        <td>
          {{ w_grand_total.12 }}
        </td>
        <td>
          {{ w_grand_total.13 }}
        </td>
        <td>
          {{ w_grand_total.14 }}
        </td>
        <td>
          {{ w_grand_total.15 }}
        </td>
        <td></td>
    </tr>
    </table>

<br><br>

</div>

<div>
<form action='posts.html'>
{% load static %}
<input type="image" src="{% static 'posts/help_button.png' %}" alt="Submit"
height="45" width="200">
</form>
</div>

</body>
</html>
